$white: #fff9f0;
$black: #beb2a6;
* {
	box-sizing: border-box;
}

body {
	margin: 0; // background: #eee;
	background: #333;
}

.board-container {
	margin: 30px auto 0;
	width: 632px; // TODO
	display: flex;
}

.chessboard {
	position: relative;
	flex: 1;
}

.figure {
	position: absolute;
	background-image: url('../assets/chess.png');
	background-repeat: no-repeat;
}

.figure.king {
	background-position-x: 4px;
}

.figure.queen {
	background-position-x: -106px;
}

.figure.rook {
	background-position-x: -218px;
}

.figure.bishop {
	background-position-x: -328px;
}

.figure.knight {
	background-position-x: -440px;
}

.figure.pawn {
	background-position-x: -550px;
}

.figure.white {
	background-position-y: -92px;
}

.field {
	position: absolute;
	&.white {
		background-color: $white;
		&.highlighted {
			background-color: darken($color: $white, $amount: 20%);
		}
		&.selected {
			background-color: rgb(153, 235, 255);
		}
	}
	&.black {
		background-color: $black;
		&.highlighted {
			background-color: darken($color: $black, $amount: 20%);
		}
		&.selected {
			background-color: rgb(153, 235, 255);
		}
	}
}

.message-container {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	position: fixed;
	top: calc( 50vh - 100px);
	left: calc( 50vw - 260px);
	width: 400px;
	height: 200px;
	background: white;
	border: 6px solid #eee;
	border-radius: 5px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	div {
		margin-bottom: 5px;
	
		select {
			padding: 5px 10px;
			line-height: 20px;
			height: 20px;
		}
	}

	button {
		cursor: pointer;
	}
}

.move-list {
	display: flex;
	min-width: 120px;
	min-height: 512px;
	max-height: 512px;
	overflow: scroll;
	background: #aaa;
	font-family: Arial, Helvetica, sans-serif;
	table {
		width: 120px;
	}
	td {
		width: 40px;
	}
}

.button-section {
	margin-top: 5px;
	text-align: center;
}